In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (2.0.21)
Requirement already satisfied: sqlparse in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.19.0)
Requirement already satisfied: matplotlib-inline in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: stack-data in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.10.0)
Requirement already satisfied: colorama in c:\users\pedro\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\pedro\appdata\roaming\python\python311\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\pedro\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\pedro\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\pedro\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (2.4.0)
Requirement already satisfied: pure-eval in c:\users\pedro\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [3]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (2.9.7)

In [4]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (2.0.21)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (2.0.2)

In [5]:
import os
os.environ.update({'DB_HOST': 'localhost'})

In [6]:
%env DB_HOST=localhost

env: DB_HOST=localhost

In [7]:
import os
os.environ.get('DB_HOST')

'localhost'

In [8]:
%load_ext sql

In [9]:
%env DATABASE_URL=postgresql://admin:senha@localhost:5432/postgres

env: DATABASE_URL=postgresql://admin:senha@localhost:5432/postgres

In [10]:
%%sql

SELECT * FROM orders LIMIT 10

10 rows affected.

[(60001, '2013-10-20 00:00:00.0', 1376, 'COMPLETE'),
 (60002, '2013-10-20 00:00:00.0', 6345, 'PENDING_PAYMENT'),
 (60003, '2013-10-20 00:00:00.0', 329, 'PROCESSING'),
 (60004, '2013-10-20 00:00:00.0', 10907, 'PENDING'),
 (60005, '2013-10-20 00:00:00.0', 5156, 'COMPLETE'),
 (60006, '2013-10-20 00:00:00.0', 8256, 'PROCESSING'),
 (60007, '2013-10-20 00:00:00.0', 8597, 'PROCESSING'),
 (60008, '2013-10-20 00:00:00.0', 11514, 'ON_HOLD'),
 (60009, '2013-10-20 00:00:00.0', 1185, 'ON_HOLD'),
 (60010, '2013-10-20 00:00:00.0', 1169, 'COMPLETE')]

In [11]:
import pandas as pd

In [12]:
conn_uri = 'postgresql://admin:senha@localhost:5432/postgres'

In [13]:
pd.read_sql('orders', conn_uri)

      order_id             order_date  order_customer_id     order_status
0        60001  2013-10-20 00:00:00.0               1376         COMPLETE
1        60002  2013-10-20 00:00:00.0               6345  PENDING_PAYMENT
2        60003  2013-10-20 00:00:00.0                329       PROCESSING
3        60004  2013-10-20 00:00:00.0              10907          PENDING
4        60005  2013-10-20 00:00:00.0               5156         COMPLETE
...        ...                    ...                ...              ...
8878     68879  2014-07-09 00:00:00.0                778         COMPLETE
8879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
8880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
8881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
8882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[8883 rows x 4 columns]

In [14]:
query = '''
    SELECT order_status, count(1) as order_count
    FROM orders
    GROUP BY 1
    ORDER BY 2 DESC
'''

In [15]:
pd.read_sql(query, conn_uri)

      order_status  order_count
0         COMPLETE         2934
1  PENDING_PAYMENT         1979
2       PROCESSING         1080
3          PENDING          994
4           CLOSED          923
5          ON_HOLD          485
6  SUSPECTED_FRAUD          204
7         CANCELED          182
8   PAYMENT_REVIEW          102

In [16]:
%%sql

TRUNCATE TABLE ORDERS

 * postgresql://admin:***@localhost:5432/postgres
Done.

[]

In [17]:
def get_columns_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [18]:
import json

schemas = json.load(open('C:/Users/Pedro/data engineering/data/retail_db/schemas.json'))

In [19]:
columns = get_columns_names(schemas, 'orders')

In [20]:
df = pd.read_csv('C:/Users/Pedro/data engineering/data/retail_db/orders/part-00000', names=columns)

In [21]:
df.to_sql('orders', conn_uri, if_exists='replace', index=False)

883

In [22]:
pd.read_sql('orders', conn_uri)

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [23]:
%%sql

TRUNCATE TABLE ORDERS

 * postgresql://admin:***@localhost:5432/postgres
Done.

[]

In [24]:
df_reader = pd.read_csv('C:/Users/Pedro/data engineering/data/retail_db/orders/part-00000', names=columns, chunksize=10000)

In [25]:
df_list = list(df_reader)

In [26]:
for idx, df in enumerate(df_reader):
    print(f'{idx}, {df.shape}')