In [1]:
import glob

In [2]:
glob.glob('C:/Users/Pedro/data engineering/data/retail_db/**', recursive=True)

['C:/Users/Pedro/data engineering/data/retail_db\\',
 'C:/Users/Pedro/data engineering/data/retail_db\\categories',
 'C:/Users/Pedro/data engineering/data/retail_db\\categories\\part-00000',
 'C:/Users/Pedro/data engineering/data/retail_db\\create_db.sql',
 'C:/Users/Pedro/data engineering/data/retail_db\\create_db_tables_pg.sql',
 'C:/Users/Pedro/data engineering/data/retail_db\\customers',
 'C:/Users/Pedro/data engineering/data/retail_db\\customers\\part-00000',
 'C:/Users/Pedro/data engineering/data/retail_db\\departments',
 'C:/Users/Pedro/data engineering/data/retail_db\\departments\\part-00000',
 'C:/Users/Pedro/data engineering/data/retail_db\\load_db_tables_pg.sql',
 'C:/Users/Pedro/data engineering/data/retail_db\\orders',
 'C:/Users/Pedro/data engineering/data/retail_db\\orders\\part-00000',
 'C:/Users/Pedro/data engineering/data/retail_db\\order_items',
 'C:/Users/Pedro/data engineering/data/retail_db\\order_items\\part-00000',
 'C:/Users/Pedro/data engineering/data/retail_db\\products',
 'C:/Users/Pedro/data engineering/data/retail_db\\products\\part-00000',
 'C:/Users/Pedro/data engineering/data/retail_db\\README.md',
 'C:/Users/Pedro/data engineering/data/retail_db\\schemas.json']

In [3]:
glob.glob('C:/Users/Pedro/data engineering/data/*/*')

['C:/Users/Pedro/data engineering/data\\cards\\deckofcards.txt',
 'C:/Users/Pedro/data engineering/data\\cards\\largedeck.txt.gz',
 'C:/Users/Pedro/data engineering/data\\cards\\smalldecks',
 'C:/Users/Pedro/data engineering/data\\cards\\zippeddecks',
 'C:/Users/Pedro/data engineering/data\\electionresults\\ls2014.tsv',
 'C:/Users/Pedro/data engineering/data\\hr\\hr_mysql.sql',
 'C:/Users/Pedro/data engineering/data\\hr_db\\countries',
 'C:/Users/Pedro/data engineering/data\\hr_db\\departments',
 'C:/Users/Pedro/data engineering/data\\hr_db\\employees',
 'C:/Users/Pedro/data engineering/data\\hr_db\\emp_details_view',
 'C:/Users/Pedro/data engineering/data\\hr_db\\jobs',
 'C:/Users/Pedro/data engineering/data\\hr_db\\job_history',
 'C:/Users/Pedro/data engineering/data\\hr_db\\locations',
 'C:/Users/Pedro/data engineering/data\\hr_db\\regions',
 'C:/Users/Pedro/data engineering/data\\lca\\LCA_FY2010.csv.gz',
 'C:/Users/Pedro/data engineering/data\\lca\\LCA_FY2011.csv.gz',
 'C:/Users/Pedro/data engineering/data\\lca\\LCA_FY2012.csv.gz',
 'C:/Users/Pedro/data engineering/data\\lca\\LCA_FY2013.csv.gz',
 'C:/Users/Pedro/data engineering/data\\nyse\\companylist_noheader.csv',
 'C:/Users/Pedro/data engineering/data\\nyse\\nyse_data.tar.gz',
 'C:/Users/Pedro/data engineering/data\\nyse_all\\nyse_data',
 'C:/Users/Pedro/data engineering/data\\nyse_all\\nyse_stocks',
 'C:/Users/Pedro/data engineering/data\\retail_db\\categories',
 'C:/Users/Pedro/data engineering/data\\retail_db\\create_db.sql',
 'C:/Users/Pedro/data engineering/data\\retail_db\\create_db_tables_pg.sql',
 'C:/Users/Pedro/data engineering/data\\retail_db\\customers',
 'C:/Users/Pedro/data engineering/data\\retail_db\\departments',
 'C:/Users/Pedro/data engineering/data\\retail_db\\load_db_tables_pg.sql',
 'C:/Users/Pedro/data engineering/data\\retail_db\\orders',
 'C:/Users/Pedro/data engineering/data\\retail_db\\order_items',
 'C:/Users/Pedro/data engineering/data\\retail_db\\products',
 'C:/Users/Pedro/data engineering/data\\retail_db\\README.md',
 'C:/Users/Pedro/data engineering/data\\retail_db\\schemas.json',
 'C:/Users/Pedro/data engineering/data\\retail_db_json\\categories',
 'C:/Users/Pedro/data engineering/data\\retail_db_json\\customers',
 'C:/Users/Pedro/data engineering/data\\retail_db_json\\departments',
 'C:/Users/Pedro/data engineering/data\\retail_db_json\\orders',
 'C:/Users/Pedro/data engineering/data\\retail_db_json\\order_items',
 'C:/Users/Pedro/data engineering/data\\retail_db_json\\products']

In [4]:
src_file_names = glob.glob('C:/Users/Pedro/data engineering/data/retail_db/*/part-*')

In [5]:
src_file_names

['C:/Users/Pedro/data engineering/data/retail_db\\categories\\part-00000',
 'C:/Users/Pedro/data engineering/data/retail_db\\customers\\part-00000',
 'C:/Users/Pedro/data engineering/data/retail_db\\departments\\part-00000',
 'C:/Users/Pedro/data engineering/data/retail_db\\orders\\part-00000',
 'C:/Users/Pedro/data engineering/data/retail_db\\order_items\\part-00000',
 'C:/Users/Pedro/data engineering/data/retail_db\\products\\part-00000']

In [6]:
import pandas as pd

In [7]:
for file_name in src_file_names:
    df = pd.read_csv(file_name, header=None)
    print(f'Shape of {file_name} is {df.shape}')

Shape of C:/Users/Pedro/data engineering/data/retail_db\categories\part-00000 is (58, 3)
Shape of C:/Users/Pedro/data engineering/data/retail_db\customers\part-00000 is (12435, 9)
Shape of C:/Users/Pedro/data engineering/data/retail_db\departments\part-00000 is (6, 2)
Shape of C:/Users/Pedro/data engineering/data/retail_db\orders\part-00000 is (68883, 4)
Shape of C:/Users/Pedro/data engineering/data/retail_db\order_items\part-00000 is (172198, 6)
Shape of C:/Users/Pedro/data engineering/data/retail_db\products\part-00000 is (1345, 6)

In [8]:
import json

In [9]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [10]:
schemas = json.load(open('C:/Users/Pedro/data engineering/data/retail_db/schemas.json'))

In [11]:
orders_columns = get_column_names(schemas, 'orders')

In [12]:
orders_columns

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [15]:
orders = pd.read_csv(src_file_names[3], names=orders_columns)

In [16]:
orders

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [17]:
import re

In [19]:
for file in src_file_names:
    print(re.split('[/\\\]', file))

['C:', 'Users', 'Pedro', 'data engineering', 'data', 'retail_db', 'categories', 'part-00000']
['C:', 'Users', 'Pedro', 'data engineering', 'data', 'retail_db', 'customers', 'part-00000']
['C:', 'Users', 'Pedro', 'data engineering', 'data', 'retail_db', 'departments', 'part-00000']
['C:', 'Users', 'Pedro', 'data engineering', 'data', 'retail_db', 'orders', 'part-00000']
['C:', 'Users', 'Pedro', 'data engineering', 'data', 'retail_db', 'order_items', 'part-00000']
['C:', 'Users', 'Pedro', 'data engineering', 'data', 'retail_db', 'products', 'part-00000']

In [20]:
file_details = re.split('[/\\\]', src_file_names[0])

In [22]:
ds_name = file_details[6]

In [25]:
columns = get_column_names(schemas, ds_name)

In [27]:
df = pd.read_csv(src_file_names[0], names=columns)

In [28]:
df

    category_id  category_department_id         category_name
0             1                       2              Football
1             2                       2                Soccer
2             3                       2   Baseball & Softball
3             4                       2            Basketball
4             5                       2              Lacrosse
5             6                       2      Tennis & Racquet
6             7                       2                Hockey
7             8                       2           More Sports
8             9                       3      Cardio Equipment
9            10                       3     Strength Training
10           11                       3   Fitness Accessories
11           12                       3          Boxing & MMA
12           13                       3           Electronics
13           14                       3        Yoga & Pilates
14           15                       3     Training by Sport
15           16                       3       As Seen on  TV!
16           17                       4                Cleats
17           18                       4        Men's Footwear
18           19                       4      Women's Footwear
19           20                       4        Kids' Footwear
20           21                       4        Featured Shops
21           22                       4           Accessories
22           23                       5         Men's Apparel
23           24                       5       Women's Apparel
24           25                       5         Boys' Apparel
25           26                       5        Girls' Apparel
26           27                       5           Accessories
27           28                       5            Top Brands
28           29                       5         Shop By Sport
29           30                       6      Men's Golf Clubs
30           31                       6    Women's Golf Clubs
31           32                       6          Golf Apparel
32           33                       6            Golf Shoes
33           34                       6     Golf Bags & Carts
34           35                       6           Golf Gloves
35           36                       6            Golf Balls
36           37                       6           Electronics
37           38                       6      Kids' Golf Clubs
38           39                       6             Team Shop
39           40                       6           Accessories
40           41                       6              Trade-In
41           42                       7     Bike & Skate Shop
42           43                       7      Camping & Hiking
43           44                       7    Hunting & Shooting
44           45                       7               Fishing
45           46                       7  Indoor/Outdoor Games
46           47                       7               Boating
47           48                       7          Water Sports
48           49                       8                   MLB
49           50                       8                   NFL
50           51                       8                   NHL
51           52                       8                   NBA
52           53                       8                  NCAA
53           54                       8                   MLS
54           55                       8  International Soccer
55           56                       8        World Cup Shop
56           57                       8           MLB Players
57           58                       8           NFL Players

In [29]:
base_dir = 'C:/Users/Pedro/data engineering/data/retail_db_json'

In [30]:
for file in src_file_names:
    file_path_list = re.split('[/\\\]', file)
    ds_name = file_path_list[-2]
    file_name = file_path_list[-1]
    json_file_path = f'{base_dir}/{ds_name}/{file_name}'

C:/Users/Pedro/data engineering/data/retail_db_json/categories/part-00000
C:/Users/Pedro/data engineering/data/retail_db_json/customers/part-00000
C:/Users/Pedro/data engineering/data/retail_db_json/departments/part-00000
C:/Users/Pedro/data engineering/data/retail_db_json/orders/part-00000
C:/Users/Pedro/data engineering/data/retail_db_json/order_items/part-00000
C:/Users/Pedro/data engineering/data/retail_db_json/products/part-00000

In [31]:
import os
os.makedirs('data/retail_db_json/orders', exist_ok=True)

In [33]:
orders.to_json('data/retail_db_json/orders/part-00000', orient='records', lines=True)

In [38]:
dest_dir = './data/retail_db_json'
os.makedirs(dest_dir, exist_ok=True)

for file in src_file_names:
    file_path_list = re.split('[/\\\]', file)
    ds_name = file_path_list[-2]
    file_name = file_path_list[-1]
    os.makedirs(f'{dest_dir}/{ds_name}', exist_ok=True)
    json_file_path = f'{dest_dir}/{ds_name}/{file_name}'
    columns = get_column_names(schemas, ds_name)
    df = pd.read_csv(file, names=columns)
    df.to_json(json_file_path, orient='records', lines=True)